{% extends "base.html" %}

{% block content %}
<h1>Аварийный доступ</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.astronaut_id.label }}<br>
        {{ form.astronaut_id(class="form-control") }}<br>

        {% for error in form.astronaut_id.errors %}
            <div class="alert alert-danger" role="alert">
            {{ error }}
            </div>
        {% endfor %}
    </p>

    <p>
        {{ form.astronaut_pass.label }}<br>
        {{ form.astronaut_pass(class="form-control", type="password") }}<br>
        {% for error in form.astronaut_pass.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </p>

    <p>
        {{ form.captain_id.label }}<br>
        {{ form.captain_id(class="form-control") }}<br>

        {% for error in form.captain_id.errors %}
            <div class="alert alert-danger" role="alert">
            {{ error }}
            </div>
        {% endfor %}
    </p>

    <p>
        {{ form.captain_pass.label }}<br>
        {{ form.captain_pass(class="form-control", type="password") }}<br>
        {% for error in form.captain_pass.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </p>

    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock %}