{% extends "base.html" %}

{% block content %}
<div class="list">
    <h3>Список профессий</h3>
    {% if list == "ol" %}
    <ol>
    {% else %}
    <ul>
    {% endif %}
        <li>Инженер-Строитель</li>
        <li>Научный исследователь</li>
        <li>Нанобиолог</li>
        <li>Исследователь химических реакций</li>
        <li>Пилот межпланетного корабля</li>
        <li>Защитник экологической среды</li>
        <li>Специалист по инопланетным материалам</li>
        <li>Обслуживающий техническое оснащение корабля</li>
        <li>Повар</li>
        <li>Помощник пилота</li>
    {% if list == "ol" %}
    </ul>
    {% else %}
    </ol>
    {% endif %}
</div>

{% endblock %}